* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
.title {
    background-color: #333;
    text-shadow: 6px 6px rgb(0, 0, 0);
}

body {
    background: radial-gradient(at bottom right, #e3e5f3 0, #e3e5f3 25px, rgba(227, 229, 243, 0.2) 25px, rgba(227, 229, 243, 0.2) 50px, rgba(227, 229, 243, 0.75) 50px, rgba(227, 229, 243, 0.75) 75px, rgba(227, 229, 243, 0.25) 75px, rgba(227, 229, 243, 0.25) 100px, rgba(227, 229, 243, 0.3) 100px, rgba(227, 229, 243, 0.3) 125px, rgba(227, 229, 243, 0.75) 125px, rgba(227, 229, 243, 0.75) 150px, rgba(227, 229, 243, 0.2) 150px, rgba(227, 229, 243, 0.2) 175px, transparent 175px, transparent 200px), radial-gradient(at top left, transparent 0, transparent 25px, rgba(227, 229, 243, 0.2) 25px, rgba(227, 229, 243, 0.2) 50px, rgba(227, 229, 243, 0.75) 50px, rgba(227, 229, 243, 0.75) 75px, rgba(227, 229, 243, 0.3) 75px, rgba(227, 229, 243, 0.3) 100px, rgba(227, 229, 243, 0.25) 100px, rgba(227, 229, 243, 0.25) 125px, rgba(227, 229, 243, 0.75) 125px, rgba(227, 229, 243, 0.75) 150px, rgba(227, 229, 243, 0.2) 150px, rgba(227, 229, 243, 0.2) 175px, #e3e5f3 175px, #e3e5f3 200px, transparent 200px, transparent 500px);
    background-blend-mode: multiply;
    background-size: 200px 200px, 200px 200px;
    background-color: #212121e0;
}

#navbar {
    overflow: auto;
    padding: 0 50px;
}

.containerr {
    position: fixed;
    background-color: #333;
    border-radius: 6px;
    padding-left: 10px;
    width: 100vw;
    max-width: 1000px
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 1.5rem;

}

.allText {
    margin: 5rem;
    background-color: rgb(182, 182, 170);
}

.allText {
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    color: #333;
}

#main-nav {
    list-style-type: none;
    border: 5px rgb(41, 38, 33) solid;

}

#main-nav li {
    display: inline;
    margin: 20px;
}

#main-nav a {
    color: white;
}

#main-nav a:hover {
    color: rgb(68, 51, 51);
    cursor: pointer;


}

#main-nav strong {
    color: #333;
}

.myhobby {
    color: #333;
    font-size: 0.6cm;
    font-weight: bold;
}

.linkgit {
    color: #333;
    font-size: 0.6cm;

}

#aboutme a {
    color: white;
}

#aboutme li {
    list-style: none;
}